/*
 * Overrides and customizations to reactjsonschema-form
 * Links:
 * https://github.com/rjsf-team/react-jsonschema-form
 * https://react-jsonschema-form.readthedocs.io/en/latest/advanced-customization/#custom-array-field-buttons
 * https://rjsf-team.github.io/react-jsonschema-form/
 */

// Override glyphicon buttons for managing array items
i.glyphicon { display: none; }
.btn-add::after { content: 'Add'; }
.array-item-move-up::after { content: 'Move Up'; }
.array-item-move-down::after { content: 'Move Down'; }
.array-item-remove::after { content: 'Remove'; }

.form-input-col-12 {
  width: 100%;
}

.form-input-col-6 {
  display: inline-block;
  width: 49%;
  margin-right: 2%;
  margin-bottom: 16px;

  &:nth-child(even) {
    margin-right: 0;
  }
}

.form-input-col-3 {
  display: inline-block;
  width: 32%;
  margin-right: 2%;

  &:last-child {
    margin-right: 0;
  }

  &:nth-child(3n+7) {
    margin-right: 0;
  }
}

.create-map .form-input-col-3:nth-child(3n+7) {
  margin-right: 2%;
}

.create-map .form-input-col-3:nth-child(3n+5) {
  margin-right: 0;
}


// Alternatively we could implement a custom titles widget
// https://react-jsonschema-form.readthedocs.io/en/latest/advanced-customization/#custom-titles
form .form-group legend {
  display: none;
}

.form-input-container div[class$="-menu"] {
  position: relative;
}

.form-group #root {
  background-color: transparent;
}

.get-started-step-contents-form-container {
  div[class*="-fillContainer"] {
    height: auto;
  }
}
