.get-started-steps-container {
  display: flex;
  justify-content: center;
  padding: 24px 0;
  margin-bottom: 0;
  border-bottom: 1px dotted #e3e4e4;
}

.get-started-step {
  display: inline;
  position: relative;
  padding: 10px 14px 8px;
  color: #005054;
  margin-right: 6px;

  &.completed-get-started-step,
  &.active-step {
    color: #fff;
    transition: all .05s ease-out;

    &:before,
    &:after {
      background-color: #007e8a;
      box-shadow: 0 1px 3px #00505454, 0 5px 15px 5px #00888f14;
    }
  }

  &.completed-get-started-step {
    &:hover {
      transform: translateY(-1px);
      cursor: pointer;
    }

    &:hover:before,
    &:hover:after {
      box-shadow: 0 2px 3px #00505446, 0 6px 15px 5px #00888f1d;
      cursor: pointer;
    }

    &:active {
      transform: translateY(1px);
    }
    
    &:active:before,
    &:active:after {
      box-shadow: 0 0 3px #00505446, 0 4px 15px 5px #00888f1d;
    }
  }

  &:first-child {
    margin-right: 12px;
    background-color: #007e8a;
    color: #fff;
    border-radius: 3px 0 0 3px;
    box-shadow: 0 1px 3px #00505454, 0 5px 15px 5px #00888f14;

    &:before,
    &:after {
      left: 5px;
      background-color: #007e8a;
      box-shadow: none;
    }

    &:hover {
      transform: translateY(-1px);
      box-shadow: 0 2px 3px #00505446, 0 6px 15px 5px #00888f1d;
      cursor: pointer;

      &:before,
      &:after {
        box-shadow: none;
      }
     }
    
    &:active {
      transform: translateY(1px);
      box-shadow: 0 0 3px #00505446, 0 4px 15px 5px #00888f1d;
    }

    &.completed-get-started-step,
    &.active-step {
      border-radius: 3px 0 0 3px;
    }
  }

  span {
    position: relative;
    z-index: 10;
    bottom: 1px;
    font-size: 14px;
  }
}

.get-started-step:before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-color: #d7f2f3;
  transform: skew(20deg);
}

.get-started-step:after {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0.1px;
  width: 100%;
  height: 50%;
  background-color: #d7f2f3;
  transform: skew(-20deg);
}