.toolbar-container {
  height: 74px;
  box-sizing: border-box;
  border-top: 1px solid #DBDDDD;
  border-bottom: 1px solid #E3E4E4;
  background: #edeeee;
  padding: 0 16px;
}

.toolbar-section1 .toolbar-item:first-child {
  padding-left: 0;
}

.toolbar-section2 .toolbar-item:last-child {
  padding-right: 0;
}

.toolbar-item {
  display: flex;
  justify-content: center;
  padding: 8px 16px;
  align-items: center;

  &.has-separator {
    border-right: 1px dotted #d5d7d7;
  }
}