div.getting-started-primary-grid {
    height: 100%;
}

.temporary-all-maps-btn {
    position: absolute;
    z-index: 1000;
    top: 16px;
    right: 16px;
}

.get-started-step-contents {
    width: 90%;
    margin: 0 auto;
}

.get-started-step-contents-header {
    text-align: center;
}

.form-group #root {
    background-color: transparent;
}