.get-started-step-contents-form-container h4 {
    text-align: center;
    margin-bottom: 4px;

    &+p {
        text-align: center;
        color: #8e9494;
    }
}

.or-sep {
    display: flex;
    height: 1px;
    justify-content: center;
    align-items: center;
    margin: 36px 0;
    border: none;
    overflow: visible;
    border-top: 1px solid #e3e4e4;

    &:before {
        content: "or";
        background-color: #fff;
        padding: 0 8px;
        text-align: Center;
        position: relative;
        bottom: 2px;
        color: #8e9494;
        font-style: italic;
    }
}

.define-locations-form {
    margin-bottom: 42px;
    padding: 24px;
    border-radius: 4px;
    background-color: #FAFBFB;
    border: 1px solid #E3E4E4;

    .form-group {
        margin-bottom: 16px;
    }
}

.define-locations-file-upload-container {
    text-align: center;
}