.map-list-primary-grid {
    padding: 24px;
    background-color: #f4f5f5;
}

.map-grid-item {
    background: #FFFFFF;
    box-shadow: 
      0px 1px 0px rgba(0, 75, 82, 0.11), 
      0px 3px 0px rgba(0, 49, 54, 0.04), 
      0px 1px 3px rgba(0, 134, 148, 0.03), 
      0px 4px 4px rgba(70, 107, 111, 0.05);
    border-radius: 3px;
    transition: all .05s ease-out;

    &:hover {
      cursor: pointer;
      transform: translateY(-2px);
      box-shadow: 
        0px 1px 0px rgba(0, 75, 82, 0.11), 
        0px 3px 0px rgba(0, 49, 54, 0.04), 
        0px 3px 8px rgba(0, 134, 148, 0.085), 
        0px 5px 5px rgba(70, 107, 111, 0.1);
    }

    // &:active {
    //   cursor: pointer;
    //   transform: translateY(1px);
    //   box-shadow: 
    //     0px 1px 0px rgba(0, 75, 82, 0.11), 
    //     0px 3px 0px rgba(0, 49, 54, 0.04), 
    //     0px 1px 3px rgba(0, 134, 148, 0.03), 
    //     0px 4px 4px rgba(70, 107, 111, 0.05);
    // }

    &:hover .map-grid-item-preview-hover-contents {
        opacity: 1;
    }
}

.map-grid-item-preview {
  width: 100%;
  height: 119px;
  position: relative;
  border-radius: 3px 3px 0 0;
  overflow: hidden;

    .leaflet-wrapper {
        pointer-events: none;
    }

    .leaflet-control-zoom,
    .leaflet-control-attribution {
        display: none;
    }

    & > h1 {
        display: none;
    }
}

.map-grid-item-preview-hover-contents {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    background-color: rgba(0,0,0, .75);
    opacity: 0;
    transition: opacity .05s ease-out;
}

div.map-grid-item-bottom {
    height: 70px;
    justify-content: space-between;
    padding: 0 16px;
}

h4.map-grid-item-name {
    margin-bottom: 2px;
    margin-top: 8px;
}

h6.map-grid-item-subtitle {
    font-size: 12px;
    line-height: 16px;
    color: #8E9494;
    font-weight: 400;
}

.service-settings-dropdown {
  display: none;
  width: 150px;
  position: absolute;
  top: -115px;
  right: 39px;
  background: #ffffff;
  border: 1px solid #e3e4e4;
  box-sizing: border-box;
  box-shadow: 0px 16px 32px rgba(0, 13, 13, 0.2),
    0px 16px 32px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  list-style-type: none;
  text-align: left;
  z-index: 10000;

  .settings-popover-active & {
    display: block;
  }
}

.service-settings-dropdown-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #000d0d;
  padding: 8px 8px;
  line-height: 16px;
  border-bottom: 1px solid #e3e4e4;

  &:last-child {
    border: none;
  }

  &:hover {
    cursor: pointer;
  }

  .ic-Icon {
    margin-right: 8px;
    position: relative;
    bottom: 1px;
  }

  &.destructive {
    color: #bf0016;
  }
}

.service-settings-button-container {
    position: relative;
}

.add-map-item-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 3px dashed #d5d7d7;
  border-radius: 4px;
  transition: all .05s ease-out;

  &:hover {
    cursor: pointer;
    border-color: #b9bdbd;
    transform: translateY(-2px);

    svg {
      opacity: 1;
    }
  }
  
  &:active {
    transform: translateY(1px);
  }

  svg {
    opacity: .75;
    transition: all .15s ease-out;
  }
}