div.map-entities-header {
  justify-content: space-between;
  background-color: #f4f5f5;
  border-radius: 4px 4px 0 0;
  width: 100%;
  border: 1px solid #D5D7D7;
  height: 30px;
}

.map-entities-progress-bar {
  width: 200px;
  height: 6px;
  margin-right: 8px;
  background-color: #D5D7D7;
  border-radius: 10px;
}

.map-entities-progress-bar-fill {
  width: 30%;
  height: 6px;
  background-color: #007e8a;
  border-radius: 10px;
}

.map-entities-progress-bar-container {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 8px; 
}

.map-entities-progress-bar-label {
  font-size: 12px;
  color: #8E9494;
  font-variant-numeric: tabular-nums;
}

.map-entities-header-navigation-arrows {
  display: flex;
  flex-direction: row;
}

.map-entities-header-navigation-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 28px;
  background-color: transparent;
  border: none;
  border-left: 1px solid #D5D7D7;

  &:hover {
    background-color: #edeeee;
  }

  &:active {
    background-color: #e3e4e4;

    .ic-Icon {
      bottom: 0;
    }
  }

  .ic-Icon {
    position: relative;
    bottom: 1px;
  }
}

ul.map-entities-location-list {
  height: 160px;
  overflow: scroll;
  border-left: 1px solid #d5d7d7;
  border-right: 1px solid #d5d7d7;
  margin-bottom: 0;
  list-style-type: none;
}

.map-entities-location-list-item {
  padding: 0 8px;
  height: 40px;
  border-bottom: 1px solid #edeeee;
  line-height: 37px;

  &:hover {
    background-color: #fafbfb;
    cursor: pointer;

    .map-entities-location-list-item-check {
      box-shadow: inset 0 0 0 2px #b9bdbd;
    }
  }
}

.map-entities-location-list-item-title {
  margin-right: 4px;
  font-size: 14px;
  font-weight: 600;
  color: #2A3434;
}

div[class*='wnd-Stack'].map-entities-location-list-item-description {
  margin-left: 0;
  
  &:before {
    content: " - "
  }
} 

.map-entities-location-list-item-check {
  width: 22px;
  height: 22px;
  border-radius: 100px;
  box-shadow: inset 0 0 0 2px #d5d7d7;
}

.map-entities-to-locations-container .rjsf {
  background-color: #f4f5f5;
  padding: 16px;
  border-radius: 0 0 4px 4px;
  border: 1px solid #d5d7d7;
  border-top-color: #e3e4e4;
}