/*
 * Copyright 2019 New Relic Corporation. All rights reserved.
 * SPDX-License-Identifier: Apache-2.0
 */

// External Libs
@import '~leaflet/dist/leaflet.css';
@import '~@newrelic/nr1-community/dist/index.css';
@import './nrds.scss';

// Main (UI/View) pages
@import './ViewMap/Timeline/Timeline.scss';

// Shared components
@import './components/JsonSchemaForm/JsonSchemaForm.scss';
@import './components/MapLocationTable/MapLocationTable.scss';

// ==============================================================
// Uitility Classes
// ==============================================================

.hidden {
  display: none !important;
}

.no-padding {
  padding: 0 !important;
}

/*-- end utility classes --*/

.primary-grid {
  height: calc(100% - 74px);
}

.form-input-container {
  margin-bottom: 16px;
}

.field-description {
  display: none;
}

.leaflet-wrapper {
  width: 100%;
  height: 100%;
}
.leaflet-container {
  height: 100%;
  width: 100%;
  .marker {
    display: flex;
    justify-content: center;
    align-items: center;

    .markerWrapper {
      display: block;
      height: 75%;
      width: 75%;
      border: none;
      border-radius: 100%;

      &.darkred {
        background-color: darkred;
        box-shadow: 0 0 0 2px #6F000D;
      }

      &.red {
        background-color: #BF0016;
        box-shadow: 0 0 0 2px #6F000D;
      }

      &.orange {
        background-color: #FFD966;
        box-shadow: 0 0 0 2px #B5780E;
      }

      &.green {
        background-color: #10A600;
        box-shadow: 0 0 0 2px #095E00;
      }
    }

    &:hover {
      position: relative;
      z-index: 100;

      .markerWrapper {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.leaflet-wrapper:before {
  content: "";
  display: block;
  z-index: 1000;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  pointer-events: none;
  box-shadow:
      inset 0px 0px 0px rgba(0, 75, 82, 0.22),
      inset 0px 0px 2px rgba(0, 49, 54, 0.1),
      inset 0px 0px 3px rgba(0, 134, 148, 0.13),
      inset 0px 0px 10px rgba(88, 114, 117, 0.275);
}

.leaflet-popup-pane {
  transform: translateY(-22px);
}

.leaflet-popup-close-button {
  display: none;
}

.leaflet-popup-tip {
  width: 16px;
  border-radius: 3px;
  transform: translateY(-1px) rotate(45deg);
  box-shadow:
      0px 1px 0px rgba(0, 75, 82, 0.21),
      3px 3px 0px rgba(0, 49, 54, 0.14),
      2px 1px 3px rgba(0, 134, 148, 0.13),
      2px 6px 7px rgba(70, 107, 111, 0.15);
}

.leaflet-popup-content-wrapper {
  border-radius: 8px;
  width: 241px;
  box-shadow:
      0px 1px 0px rgba(0, 75, 82, 0.21),
      0px 3px 0px rgba(0, 49, 54, 0.14),
      0px 1px 3px rgba(0, 134, 148, 0.13),
      0px 8px 7px rgba(70, 107, 111, 0.15);
}

div.leaflet-pane .leaflet-popup .leaflet-popup-content {
  height: 100%;
  padding: 0;
  margin: 0;
  min-width: 100%;
}

.leaflet-control-zoom {
  box-shadow:
      0px 1px 0px rgba(40, 65, 72, 0.22),
      0px 1px 2px rgba(20, 49, 54, 0.1),
      0px 1px 3px rgba(0, 134, 148, 0.23),
      0px 1px 10px rgba(88, 114, 117, 0.35);
}

.leaflet-control-zoom.leaflet-bar.leaflet-control {
  background-color: #fff;
}

a:not(.u-unstyledLink):not(.AABQAC-wnd-Link--external).leaflet-control-zoom-in,
a:not(.u-unstyledLink):not(.AABQAC-wnd-Link--external).leaflet-control-zoom-out {
  color: #2a3434;
  font-size: 18px;
  line-height: 22px;
  border-bottom: 1px solid #d5d7d7;

  &:hover {
      text-decoration: none;
  }
}

a:not(.u-unstyledLink):not(.AABQAC-wnd-Link--external).leaflet-control-zoom-out {
  border-bottom: none;
}

.marker-icon-svg {
  overflow: visible;
  transition: all .2s ease-out;

  &.selected-marker-icon {
      filter:
          drop-shadow(0px 1.24527px 1.30061px rgba(7, 45, 49, 0.0815322))
          drop-shadow(0px 2.99255px 3.12555px rgba(7, 45, 49, 0.117129))
          drop-shadow(0px 5.6347px 5.88513px rgba(7, 45, 49, 0.145))
          drop-shadow(0px 10.0513px 10.4981px rgba(7, 45, 49, 0.172871))
          drop-shadow(0px 18.7999px 19.6355px rgba(7, 45, 49, 0.208468))
          drop-shadow(0px 45px 47px rgba(7, 45, 49, 0.29));

      path:first-child {
          stroke: white;
          stroke-width: 3px;
      }
  }
}

[class*='wnd-Link'].detail-pane-view-workload-button {
  margin-right: 16px;
  color: #007e8a;

  .ic-Icon {
      margin-right: 4px;
      position: relative;
      bottom: 1px;
  }
}

.leaflet-popup-content [class*='wnd-Link'].view-workload-button {
  width: 100%;
  text-align: center;
  display: block;
  margin-left: 0;
  height: 30px;
  border-top: 1px solid #edeeee;
  line-height: 29px;

  .ic-Icon {
      margin-left: 2px;
      position: relative;
      bottom: 2px;
  }
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

fieldset {
  border: none;
}

p {
  margin-bottom: 1rem;
}

[class*='style_empty-state'] {
  height: calc(100% - 32px);
}

[class*='wnd-InnerModal'] {
  height: 100%;
  background-color: #fff;
}

[class*='InnerModal-content'] {
  [class*='Text--type-heading'] {
    margin-bottom: 16px;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #000d0d;
  }

  p {
    margin-bottom: 16px;
  }

  button {
    margin-right: 8px;
  }
}
