/*
 * Copyright 2019 New Relic Corporation. All rights reserved.
 * SPDX-License-Identifier: Apache-2.0
 */

// External Libs
@import '~leaflet/dist/leaflet.css';
@import "~nr1-bootstrap-theme/dist/main.css";
@import '~@newrelic/nr1-community/dist/index.css';
@import './nrds.scss';

// Main (UI/View) pages
@import './CreateMap.scss';
@import './MapList.scss';
@import './EditMap.scss';
@import './ViewMap.scss';
@import './DefineLocations.scss';
@import './MapLocationData.scss';
@import './EmptyState.scss';

// Shared components
@import '../shared/components/Toolbar.scss';
@import '../shared/components/JsonSchemaForm.scss';
@import '../shared/components/MapLocationTable.scss';
@import '../shared/components/GettingStartedSteps.scss';
@import '../shared/components/LocationTable.scss';
@import '../shared/components/MapItem.scss';

.primary-grid {
  height: calc(100% - 74px);
}

.form-input-container {
  margin-bottom: 16px;
}

.field-description {
  display: none;
}

.geoOpsContainer {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.leaflet-wrapper {
  width: 100%;
  height: 100%;
}
.leaflet-container {
  height: 100%;
  width: 100%;
  .marker {
    display: flex;
    justify-content: center;
    align-items: center;

    .markerWrapper {
      display: block;
      height: 75%;
      width: 75%;
      border: none;
      border-radius: 100%;

      &.darkred {
        background-color: darkred;
        box-shadow: 0 0 0 2px #6F000D;
      }

      &.red {
        background-color: #BF0016;
        box-shadow: 0 0 0 2px #6F000D;
      }

      &.orange {
        background-color: #FFD966;
        box-shadow: 0 0 0 2px #B5780E;
      }

      &.green {
        background-color: #10A600;
        box-shadow: 0 0 0 2px #095E00;
      }
    }

    &:hover {
      position: relative;
      z-index: 100;

      .markerWrapper {
        width: 100%;
        height: 100%;
      }
    }
  }
}
.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
}

.hidden {
  display: none;
}