
.view-map-toolbar.toolbar-container {
    position: relative;
    z-index: 10000;
    border-bottom: none; 
}

.view-map-primary-grid {
    position: relative;
    overflow: hidden;

    .locations-table-stack-item {
        width: 340px;
        height: 100%;
        position: relative;
        z-index: 1000;
        background-color: #fff;
        border-top: 1px solid #e3e4e4;

        .react-bootstrap-table {
            overflow: scroll;
        }

        .sortable:first-child {
            padding: 0;
        }
    }

    .primary-content-container {
        width: 500px;
        height: 100%;
    }

    .leaflet-wrapper:before {
        content: "";
        display: block;
        z-index: 1000;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        pointer-events: none;
        box-shadow: 
            inset 0px 0px 0px rgba(0, 75, 82, 0.22), 
            inset 0px 0px 2px rgba(0, 49, 54, 0.1), 
            inset 0px 0px 3px rgba(0, 134, 148, 0.13), 
            inset 0px 0px 10px rgba(88, 114, 117, 0.275);
    }

    .detail-panel-stack-item {
        width: 340px;
        height: 100%;
        position: absolute;
        right: 0;
        z-index: 1000;
        box-shadow: 
            0px 1px 0px rgba(0, 75, 82, 0.22), 
            0px 3px 2px rgba(0, 49, 54, 0.1), 
            0px 1px 3px rgba(0, 134, 148, 0.13), 
            0px 8px 17px rgba(88, 114, 117, 0.3);
        transition: transform .2s cubic-bezier(.25, .46, .45, .94);
        border-top: 1px solid #e3e4e4;

        &.closed {
            transform: translateX(100%);
        }

        &.minimized {
            transform: translateX(100%);
        }
    }
}

.leaflet-popup-pane {
    transform: translateY(-22px);
}

.leaflet-popup-close-button {
    display: none;
}

.leaflet-popup-tip {
    width: 16px;
    border-radius: 3px;
    transform: translateY(-1px) rotate(45deg);
    box-shadow: 
        0px 1px 0px rgba(0, 75, 82, 0.21), 
        3px 3px 0px rgba(0, 49, 54, 0.14), 
        2px 1px 3px rgba(0, 134, 148, 0.13), 
        2px 6px 7px rgba(70, 107, 111, 0.15);
}

.leaflet-popup-content-wrapper {
    border-radius: 8px;
    width: 241px;
    box-shadow: 
        0px 1px 0px rgba(0, 75, 82, 0.21), 
        0px 3px 0px rgba(0, 49, 54, 0.14), 
        0px 1px 3px rgba(0, 134, 148, 0.13), 
        0px 8px 7px rgba(70, 107, 111, 0.15);
}

div.leaflet-pane .leaflet-popup .leaflet-popup-content {
    height: 100%;
    padding: 0;
    margin: 0;
    min-width: 100%;
}

.marker-popup-header {
    height: 30px;
    border-bottom: 1px solid #edeeee;
}

.marker-popup-status-dot-container {
    height: 100%;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px dotted #e3e4e4;
}

.marker-popup-status-dot {
    display: block;
    border-radius: 20px;
    width: 9px;
    height: 9px;
    background-color: #13BA00;
}

div.leaflet-pane .leaflet-popup .marker-popup-title-container {
    display: flex;
    height: 100%;
    max-width: 63%;
    margin-left: 0;
    text-align: center;
    padding: 0 10px;
    justify-content: center;
    align-items: center;
    border-right: 1px dotted #e3e4e4;
    font-family: 'open sans'; 
}

.marker-popup-title-label {
    color: #8E9494;
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .5px;
    margin-right: 4px; 
}

.marker-popup-title {
    color: #2A3434;
    font-size: 14px;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

div.leaflet-pane .leaflet-popup .marker-popup-comparison-container {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 8px;
    margin: 0;
}

.marker-popup-comparison {
    padding: 2px 4px;
    background-color: #F2FCF3;
    color: #11A600;
    border-radius: 3px;
}

div.leaflet-pane .leaflet-popup p.marker-popup-description {
    margin: 0;
    padding: 8px 10px;
    box-sizing: border-box;
    line-height: 16px;
    font-size: 12px;
    color: #464E4E;
    font-family: 'open sans';

    a {
        color: #0079bf;
    }
}

.leaflet-control-zoom.leaflet-bar.leaflet-control {
    background-color: #fff;
}

a:not(.u-unstyledLink):not(.AABQAC-wnd-Link--external).leaflet-control-zoom-in,
a:not(.u-unstyledLink):not(.AABQAC-wnd-Link--external).leaflet-control-zoom-out {
    color: #2a3434;
    font-size: 18px;
    line-height: 22px;
    border-bottom: 1px solid #d5d7d7;

    &:hover {
        text-decoration: none;
    }
}

a:not(.u-unstyledLink):not(.AABQAC-wnd-Link--external).leaflet-control-zoom-out {
    border-bottom: none;
}

.marker-icon-svg {
    overflow: visible;
    transition: all .2s ease-out;
    
    &.selected-marker-icon {
        filter:
            drop-shadow(0px 1.24527px 1.30061px rgba(7, 45, 49, 0.0815322))
            drop-shadow(0px 2.99255px 3.12555px rgba(7, 45, 49, 0.117129))
            drop-shadow(0px 5.6347px 5.88513px rgba(7, 45, 49, 0.145))
            drop-shadow(0px 10.0513px 10.4981px rgba(7, 45, 49, 0.172871))
            drop-shadow(0px 18.7999px 19.6355px rgba(7, 45, 49, 0.208468))
            drop-shadow(0px 45px 47px rgba(7, 45, 49, 0.29));

        path:first-child {
            stroke: white;
            stroke-width: 3px;
        }
    }
}

[class*='wnd-Link'].detail-pane-view-workload-button {
    margin-right: 16px;
    color: #007e8a;

    .ic-Icon {
        margin-right: 4px;
        position: relative;
        bottom: 1px;
    }
}

.leaflet-popup-content [class*='wnd-Link'].view-workload-button {
    margin-left: 3px;
}