.map-location-upload-container {
    height: 100%;
    padding: 56px;
}

.file-upload-nerdlet-header {
    margin-bottom: 16px;
}

.file-upload-nerdlet-description {
    margin-bottom: 0;
}

.upload-button {
    margin-bottom: 0;
    padding: 8px 16px;
    position: relative;
    top: 8px;
    background-color: #007e8a;
    color: #fff;
    font-size: 12px;
    border-radius: 3px;
    transition: background-color 125ms ease;

    &:hover {
        cursor: pointer;
        background-color: #0095a4;
    }

    &:active {
        background-color: #006771;
    }

    &.upload-other-button {
        background-color: #edeeee;
        color: #2a3434;

        &:hover {
            background-color: #d5d7d7;
        }

        &:active {
            background-color: #b9bdbd;
        }
    }
}

input[type="file"].json-file-upload:not(.u-unstyledInput):not([type="button"]):not([type="submit"]):not([type="reset"]):not([type="checkbox"]):not([type="radio"]):not(.AABNAC-wnd-TextField-input) {
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

[class*='style_empty-state'] {
  margin: 16px 0 0;
  height: calc(100% - 64px);
}

.cta-container > * {
    margin-left: 8px;
}